
*{
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  padding: 20px;
  border: 1px solid rgb(47, 44, 44);
  border-radius: 10px;
  width: 500px;
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  /* align-items: center; */
  flex-direction: column;
}

.initial-btn{
  all: unset;
  text-align: center;
  font-size: large;
  padding: 5px 15px;
  border-radius: 5px;
  background-color:#273746;
  color:white;
  cursor: pointer;
}

.initial-btn:hover{

  background-color:#E67E22;
  transition: 0.4s;
  color: black;

}

.form-container{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.field{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: start;
}

input[type=text], input[type=password], input[type=number]{
  padding: 10px;
  border-radius: 5px;
}

#types{
  padding: 10px;
  border-radius: 5px;
}

.value-key{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}


.cross-btn {
  display: inline-block;
  margin-left: 95%;
  margin-bottom: 20px;
  font-size: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  padding: 0px 5px;
}

.plus-btn {
  all: unset;
  display: inline-block;
  color: white;
  margin-left: 86%;
  margin-bottom: 5px;
  padding: 5px 15px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}

.plus-img{
  width: 30px;
}

.cross-btn:hover{
  background-color: rgb(209, 215, 219);
}

.plus-btn:hover{
  transition: 0.4s;
  color: black;
}

.radius {
  border-radius: 50%;
}

.InnerValKey{
  display: flex;
  gap: 35px;
}

.all-value-key{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selected-value{
  list-style: none;
  display:flex;
  margin-top: -37px;
  margin-left:24%;
}

.for-spacing{
  margin-top: 20px;
}

.navbar{
  text-align: center;
  display: flex;
  gap: 200px;
  justify-content: center;
  margin-bottom: 50px;
  background-color: #273746;
  height: 72px;
  align-items: center;
}

.text-formating{
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

.text-formating:hover {
  color: #E67E22;
}


.field-value{
  display: flex;
}

.userData{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap:15px;
}

.userDataCaption{
  text-align: center;
  padding-bottom: 30px;
}

.possible-values{
  list-style: none;
}

.json-list
{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.form-heading{
  text-align: center;
  font-size: large;
  font-weight: bold;
}